@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-brand-primary: #FA3D8C;
  --color-brand-secondary: #2D0A31;
  --color-brand-accent: #FF007F;
  --color-brand-dark: #050505;
}

:root {
  --background: #050505;
  --foreground: #ededed;
}

html {
  scroll-behavior: smooth;
  cursor: none;
  /* Hide default cursor for custom one */
}

body {
  background: var(--color-brand-dark);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
  overflow-x: hidden;
}

::selection {
  background-color: var(--color-brand-primary);
  color: white;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--color-brand-dark);
}

::-webkit-scrollbar-thumb {
  background: var(--color-brand-secondary);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-brand-primary);
}